<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/head-includes.ejs') %>
        <title><%-pageTitle%></title>
    </head>
    <body>
        <p>Coming Soon!</p>
        <%- include('../includes/body-includes.ejs') %>
    </body>
</html>