<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/head-includes.ejs') %>
        <title><%-pageTitle%></title>
    </head>
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <div class="px-4 py-5 my-5 text-center">
                <h1 class="display-5 fw-bold text-body-emphasis">Coming Soon!!</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">
                        Website is under construction
                    </p>
                </div>
            </div>
        </main>
        <%- include('../includes/body-includes.ejs') %>
    </body>
</html>